<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHuZZkjwPex-9EEfFPUkqzAS5FhLecNvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>273151397649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yetuga</string>
	<key>PROJECT_ID</key>
	<string>yetu-ga</string>
	<key>STORAGE_BUCKET</key>
	<string>yetu-ga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273151397649:ios:420bc4b5f1b6b5458f86b0</string>
</dict>
</plist>